name: Build and test application

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Maven build
        run: mvn install

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: application
          path: target/*.jar
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Maven test
        run: mvn test
